* {
  padding: 0px;
  margin: 0px;
}
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15em;
}
@mixin flexi {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3  em;
}
#nav {
  @include flex;
  width: 99.9vw;
  height: 15vh;
  border: 1px solid black;
  background-color: black;
}
.One {
  color: white;
  text-decoration: none;
  font-size: 30px;
}
#se {
  @include flexi();
  position: relative;
  top: 50px;
  box-sizing: border-box;
  width: 100vw;
}

#contain {
  @include flex();
}
